@font-face {
  font-family: "PlusJakartaSans";
  src: url("/assets/fonts/PlusJakartaSans.woff2") format("woff2-variations");
  font-style: normal;
}

:root {
  --font-sans: "PlusJakartaSans";
  --font-lineheight-1: 1.1;
  --font-lineheight-2: 1.25;
  --font-lineheight-3: 1.375;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  text-transform: uppercase;
}

h1 {
  letter-spacing: 4px;
}

h2 {
  letter-spacing: 2px;
}

h3 {
  letter-spacing: 0px;
}

h4 {
  letter-spacing: -2px;
}