{% set css %}
  {% include 'styles/normalize.css' %}
  {% include 'styles/open-props.css' %}
  {% include 'styles/fonts.css' %}
  {% include 'styles/components.css' %}
{% endset %}

<style>
  {{ css | cssmin | safe }}
</style>