<footer class="footer">
  <address>
    Form & Fragment<br />
    Vej 23<br />
    Mail: <a href="mailto:formframgment@gmail.com">jim@rock.com</a><br>
    Phone: <a href="tel:+453313131">+45313131</a><br />
    <a href="instaurl">Instagram</a>
  </address>
</footer>