<section class="showcase-list">
  {%- for post in collections.post -%}
    <a
      href="{{ post.url }}"
      class="showcase-list--section"
      data-img-lightness={{ post.data.img.lightness or 'dark' }}
    >
      <h2>{{ post.data.title }}</h2>

      {% if post.data.img.src %}
        {% image post.data.img.src, post.data.img.alt %}
      {% endif %}

      {% if post.data.video %}
        <video src="{{ post.data.video.src }}" autoplay muted loop />
      {% endif %}
  </a>
  {%- endfor -%}
</section>