<nav class="sticky-nav">
  {# TODO: add 11ty permalinks instead #}
  {# TODO: what should be here? #}
  {# TODO: use site settings json? #}
  <a href="/about-us">Home</a>
  <a href="/about-us">About us</a>
  <a href="/about-us">How it works</a>
</nav>