a {
  text-decoration-color: currentColor;
}

dl {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0.5em 1px;

  max-inline-size: var(--size-content-3);
  width: 100%;
}

dt, dd {
  margin: 0;

  border-bottom: 2px dotted currentColor;
  background: var(--surface-1);

  color: inherit;
  font-family: var(--font-sans);
  font-weight: 200;
}

dt {
  margin-right: 1px;
}

dd {
  padding-left: 1ch;
  text-align: end;
}