:root {
  --app-gutter: var(--size-fluid-3);
}

main {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration-color: currentColor;
}

dl {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1em 0;

  font-size: inherit;
  width: 100%;
}

dt, dd {
  margin: 0;

  color: inherit;
}

dd {
  padding-left: 1ch;
  text-align: end;
}
