/* -------------------------------------------------------------------------------------------------
 * Footer
 * -----------------------------------------------------------------------------------------------*/
 .footer {
  display: grid;

  width: 100%;
  padding: var(--app-gutter);

  border-top: 5px double var(--text-1);
}

.footer a {
  color: inherit;
}
