/* -------------------------------------------------------------------------------------------------
 * Galler
 * -----------------------------------------------------------------------------------------------*/
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, 50%);
}

.gallery--item[data-gallery-span="2"] {
  grid-column-end: span 2;
}