/* -------------------------------------------------------------------------------------------------
 * Header
 * -----------------------------------------------------------------------------------------------*/
.header {
  margin-inline: 0;

  font-size: 32px;
  font-family:'Times New Roman', Times, serif;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--font-size-fluid-2);
  color: var(--text-1);

  z-index: 1;
}

.header--logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  margin: 0;

  background: var(--surface-1);
  color: inherit;
}

.header--logo,
.header [aria-hidden] {
  padding: var(--size-fluid-2) var(--size-fluid-3);
}

.header [aria-hidden] {
  visibility: hidden;
}