/* -------------------------------------------------------------------------------------------------
 * Logo
 * -----------------------------------------------------------------------------------------------*/
 .logo {
  position: fixed;
  padding: var(--size-fluid-2) var(--size-fluid-3);

  font-size: 32px;
  font-family:'Times New Roman', Times, serif;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--font-size-fluid-2);

  color: var(--text-1);
}

 .logo::after {
  content: "";
  display: block;

  top: 0;
  left: 0;
  width: 100%;

  background: conic-gradient(at 50% 50%,transparent 135deg,green 0,green 225deg, transparent 0);
 }
