/* -------------------------------------------------------------------------------------------------
 * Logo
 * -----------------------------------------------------------------------------------------------*/
 .logo {
  position: fixed;
  padding: var(--size-fluid-2) var(--size-fluid-3);
  margin-inline: 0;

  font-size: 32px;
  font-family:'Times New Roman', Times, serif;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--font-size-fluid-2);

  color: var(--text-1);
}
