{% set css %}
  {% include 'public/styles/normalize.css' %}
  {% include 'public/styles/open-props.css' %}
  {% include 'public/styles/base.css' %}
  {% include 'public/styles/fonts.css' %}
  {% include 'public/styles/footer.css' %}
  {% include 'public/styles/logo.css' %}
  {% include 'public/styles/post.css' %}
  {% include 'public/styles/showcase-list.css' %}
{% endset %}

<style>
  {{ css | cssmin | safe }}
</style>