{% set css %}
  {% include 'public/styles/normalize.css' %}
  {% include 'public/styles/open-props.css' %}
  {% include 'public/styles/base.css' %}
  {% include 'public/styles/fonts.css' %}
  {% include 'public/styles/footer.css' %}
  {% include 'public/styles/gallery.css' %}
  {% include 'public/styles/header.css' %}
  {% include 'public/styles/project.css' %}
  {% include 'public/styles/project-list.css' %}
  {% include 'public/styles/sticky-nav.css' %}
{% endset %}

<style>
  {{ css | cssmin | safe }}
</style>