/* -------------------------------------------------------------------------------------------------
 * Post
 * -----------------------------------------------------------------------------------------------*/
.post {
  --post--block-pad: var(--size-fluid-3);
}

.post--media {
  display: grid;

  max-height: 600px;
  font-size: var(--font-size-2);

  overflow: hidden;
}

.post--media picture {
  max-height: 500;
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.post--media video {
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.post--content {
  display: grid;

  padding: var(--post--block-pad) var(--app-gutter);
}

.post--content > *:not(:last-child) {
  margin-bottom: 1em;
}

.post--content h1 {
  width: 100%;

  font-size: var(--font-size-4);
  line-height: var(--font-lineheight-1);
}

.post--content dl {
  padding-top: 1em;

  border-top: 3px double var(--text-1);
}

.post--content dt,
.post--content dd {
  border-bottom: 1px solid var(--text-1);
}