/* -------------------------------------------------------------------------------------------------
 * Project list
 * -----------------------------------------------------------------------------------------------*/
 .project-list {
  --project-list--top: calc(var(--font-size-fluid-2) + (var(--size-fluid-2) * 1.25));

  display: grid;
}

.project-list--section {
  display: grid;
  grid-template-columns: var(--app-gutter) 1fr var(--app-gutter);
  grid-template-rows: var(--project-list--top) 1fr min-content var(--project-list--top);
  grid-template-areas:
    ".    .    ."
    ". content ."
    ".  link   ."
    ".    .    .";

  place-items: start;
  padding: 0;
  margin: 0;

  color: var(--text-1);
}

.project-list--section:hover {
  text-decoration: none;
}

/* Main media of the section, acting as full width + height background */
.project-list--section > img,
.project-list--section > video,
.project-list--section > picture {
  grid-column: -1/1;
  grid-row: -1/1;
}

/*
 * Sticky Headline
 * (could be changed to more text in a container)
 */
.project-list--section h2 {
  grid-area: content;

  position: sticky;
  top: var(--project-list--top);
  bottom: var(--project-list--top);

  font-size: var(--font-size-fluid-1);
  color: inherit;
  z-index: 1;
}

.project-list--section[data-img-lightness="light"] {
  color: var(--text-1);
}

.project-list--setion-link {
  grid-area: link;
  justify-self: end;

  z-index: 0;

  text-decoration: underline;
  font-family: var(--font-sans);
  font-size: var(--font-size-fluid-1);
}
