/* -------------------------------------------------------------------------------------------------
 * Project
 * -----------------------------------------------------------------------------------------------*/
.project {
  --project--block-pad: var(--size-fluid-3);
  display: grid;
  place-items: center;
}

.project--media {
  display: grid;

  max-height: 600px;
  font-size: var(--font-size-2);

  overflow: hidden;
}

.project--media picture {
  max-height: 500;
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.project--media video {
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.project--content {
  display: grid;
  max-width: 65ch;
  max-inline-size: var(--size-content-3);

  padding: var(--project--block-pad) var(--app-gutter);
  border-top: 1px solid currentColor;
}

.project--content > *:not(:last-child) {
  margin-bottom: 1em;
}

.project--content h1 {
  width: 100%;

  font-size: var(--font-size-4);
  line-height: var(--font-lineheight-1);
}

.project--content dl {
  padding-top: 1em;

  border-top: 3px double var(--text-1);
}

.project--content dt,
.project--content dd {
  border-bottom: 1px solid var(--text-1);
}

.project .gallery {
  max-inline-size: var(--size-lg);
}