/* -------------------------------------------------------------------------------------------------
 * Project list
 * -----------------------------------------------------------------------------------------------*/
 .project-list {
  --project-list--top: calc(var(--font-size-fluid-2) + (var(--size-fluid-2) * 1.25));
  --project-list--active-transition-duration: 1s;

  z-index: 0;
 }
 
 .project-list--projects {
  display: grid;
}

.project-list--section {
  display: grid;
  grid-template-columns: var(--app-gutter) 1fr var(--app-gutter);
  grid-template-rows: var(--project-list--top) 1fr min-content var(--project-list--top);
  grid-template-areas:
    ".    .    ."
    ". content ."
    ".    .    .";

  place-items: start;
  padding: 0;
  margin: 0;
  overflow-x: scroll;

  color: var(--text-1);
  background: var(--text-2);
}

.project-list--section:hover {
  text-decoration: none;
}

/* Main media of the section, acting as full width + height background */
.project-list--section > img,
.project-list--section > video,
.project-list--section > picture {
  grid-column: -1/1;
  grid-row: -1/1;
  width: 100%;

  transition: opacity 1s ease-out;
}

.project-list--section:not([data-active]) > img,
.project-list--section:not([data-active]) > video,
.project-list--section:not([data-active]) > picture {
  opacity: 0.14;
}

.project-list--section > div {
  grid-area: content;
  display: grid;
}

.project-list--section h2 {
  font-size: var(--font-size-fluid-1);
  color: var(--text-1);

  margin-left: calc(-1 * var(--app-gutter));
  padding: var(--size-1) var(--size-2) var(--size-1) var(--app-gutter);
  background: var(--surface-1);

  z-index: 1;
}

.project-list--section:not([data-active]) h2 {
  display: none;
}

.project-list--section[data-img-lightness="light"] {
  color: var(--text-1);
}
