/* -------------------------------------------------------------------------------------------------
 * Sticky nav
 * -----------------------------------------------------------------------------------------------*/
 .sticky-nav {
  display: grid;
  place-items: flex-end;
  gap: var(--size-1);

  position: fixed;
  bottom: var(--app-gutter);
  right: var(--app-gutter);

  /* This is to offset the base link padding */
  margin: var(--size-1);

  font-family: var(--font-sans);
  font-size: var(--font-size-1);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--surface-1);
  text-align: end;
}

.sticky-nav a {
  color: inherit;
  background: var(--text-2);
  border-bottom: 1px solid currentColor;
  margin-top: 1px;
}
