---
layout: layouts/base.njk
---
<main>
  {% include "partials/logo.njk" %}
  {% include "partials/sticky-nav.njk" %}
  {% include "partials/project-list.njk" %}
  {% include "partials/footer.njk" %}
</main>