---
layout: layouts/base.njk
---
<main class="post">
  <figure class="post--media" data-img-lightness={{ post.data.img.lightness or 'dark' }}>
    {% if img.src %}
      {% image img.src, img.alt %}
      <figcaption >{{ img.caption }}</figcaption>
    {% endif %}

    {% if video.src %}
      <video src="/{{ video.src }}" controls />
    {% endif %}
  </figure> 
  <section class="post--content">
    {{ content | safe }}
  </section>
</main>