---
layout: layouts/base.njk
---
<main class="project">
  <figure class="project--media" data-img-lightness={{ img.lightness or 'dark' }}>
    {% if img.src %}
      {% image img.src, img.alt %}
    {% endif %}

    {% if video.src %}
      <video src="/{{ video.src }}" controls />
    {% endif %}
  </figure> 
  <section class="project--content">
    {{ content | safe }}
  </section>
  {% include "partials/gallery.njk" %}
  {% include "partials/footer.njk" %}
</main>